body {
  background-color: lightblue;
}

.initialString {
  color: #0059b3;
}

.result {
  color: #0059b3;
}

.container {
  border: solid 3px black;
  border-radius: 15px;
}

h1 {
text-align: center;
padding: 20px;
color: #0059b3;
}
